### Listas em Python

**O Que é uma Lista?**

Imagine uma caixa organizadora onde você pode guardar vários itens diferentes, como números, textos, ou até outras caixas. Em Python, uma lista é exatamente isso: uma estrutura que armazena múltiplos valores em uma única variável, mantendo uma ordem específica.


**Como Criar uma Lista?**


Usamos colchetes [ ] para definir uma lista, separando os elementos por vírgulas.

In [ ]:
# Exemplo de lista com diferentes tipos de dados
minha_lista = [10, "Maçã", True, 3.14, [1, 2, 3]]

#comando para alterar data e hora
#pool.ntp.br


**Aqui, minha_lista contém:**

Um número inteiro (10),


Uma string ("Maçã"),


Um valor booleano (True),


Um número decimal (3.14),


E até outra lista ([1, 2, 3]).


Isso mostra que listas são flexíveis e podem misturar tipos de dados.

## Principais Características das Listas
1. Ordenadas → Têm Índices
Cada elemento na lista tem uma posição fixa (índice), começando em 0.

In [ ]:
frutas = ["maçã", "banana", "laranja"]
# Índices:    0        1         2

frutas[0] retorna "maçã"

frutas[2] retorna "laranja"

Se tentar acessar um índice que não existe (ex: frutas[3]), Python retorna um erro.

2. Mutáveis → Podem Ser Alteradas
Diferente de strings (que são imutáveis), listas permitem modificações:

In [ ]:
frutas[1] = "morango"  # Substitui "banana" por "morango"
print(frutas)  # Saída: ["maçã", "morango", "laranja"]

3. Aceitam Elementos Repetidos

In [ ]:
numeros = [1, 2, 2, 3, 3, 3]  # Válido!

## Operações Básicas com Listas

**Adicionar Elementos**
**.append()** → Adiciona ao final.

In [ ]:
frutas.append("uva")  # ["maçã", "morango", "laranja", "uva"]

**insert()** → **Insere em uma posição específica.**

In [ ]:
frutas.insert(1, "abacaxi")  # ["maçã", "abacaxi", "morango", "laranja", "uva"]
print(frutas)

Remover Elementos

**remove()** → Remove o primeiro valor igual ao especificado.

In [ ]:
frutas.remove("morango")  # Remove "morango"

**pop() →** Remove e retorna um elemento pelo índice (se não passar índice, remove o último).

In [ ]:
ultima_fruta = frutas.pop()  # Remove "uva" e retorna seu valor

## Outras Operações Úteis

**len() →** Retorna o tamanho da lista.

In [ ]:
print(len(frutas))  # Saída: 3

**sort() →** Ordena a lista (para números ou textos).

In [ ]:
numeros = [3, 1, 4, 2]
numeros.sort()  # [1, 2, 3, 4]


## Fatiamento (Slicing) → Pegando Partes da Lista

Podemos extrair "pedaços" da lista usando **[início:fim:passo]:**

In [ ]:
letras = ["a", "b", "c", "d", "e"]
print(letras[1:4])    # ["b", "c", "d"] (índices 1 a 3)
print(letras[::2])    # ["a", "c", "e"] (pula de 2 em 2)
print(letras[::-1])   # ["e", "d", "c", "b", "a"] (inverte)

### Exercicio de Listas

Nossa Lista de Números.

In [ ]:
lista_numeros = [1, 2, 3, 4, 5]
print(lista_numeros)

Etapa 1: Escreva uma linha de código que solicita ao usuário digitar um número inteiro, esse número deve substituir o elemento do meio da lista.

Etapa 2: escreva uma linha de código que remova o último elemento da lista.

Etapa 3: escreva uma linha de código que imprima o comprimento da lista atual

# Exercício de Listas Beatles:

Os Beatles foram um dos grupos de música mais populares dos anos 60, e a banda mais vendida na história. Algumas pessoas consideram que eles são o ato mais influente da era do rock. Na verdade, eles foram incluídos na compilação da revista *Time* das 100 pessoas mais influentes do século XX.

A banda passou por muitas mudanças na formação, culminando em 1962 com a formação de John Lennon, Paul McCartney, George Harrison e Richard Starkey (mais conhecido como Ringo Starr).

Escreva um programa que reflita essas mudanças e permita praticar com o conceito de listas. Sua tarefa:

Etapa 1: Criar uma lista vazia chamada beatles;

In [ ]:
beatles = []
print(beatles)

[]

Etapa 2: use o método append() para adicionar os seguintes membros da banda à lista: John Lennon, Paul McCartney e George Harrison;

Etapa 3: Use o loop for e o método append() para solicitar que o usuário adicione os seguintes membros da banda à lista: Stu Sutcliffe e Pete Best;

Etapa 4: Use a instrução del para remover Stu Sutcliffe e Pete Best da lista;

Etapa 5: Use o método insert() para adicionar Ringo Starr ao início da lista.